<footer class="{{ 'fixed' if path == 'home' }} bottom-0 text-center w-full py-4">
    <small class="text-gray-500">
        <div>
            Copyright ©
            {{settings.name}}
            2020. Made with ❤ by
            <a href="{{settings.url}}" target="_blank" class="underline">{{settings.author}}</a>
            •
            <a href="https://github.com/surjithctly/neat-starter" class="underline" target="_blank" rel="noopener">View on Github</a>
        </div>
        <div>
            Based on
            <a href="https://github.com/surjithctly/neat-starter" class="underline" target="_blank" rel="noopener">neat-starter</a>
            by
            <a href="https://surjithctly.in/" class="underline" target="_blank" rel="noopener">Surjith S M</a>
        </div>
    </small>
</footer>
